* {
    box-sizing: border-box;
}

.d-grid {
    display: grid;
}

.grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "info-block"
        "about-block"
        "category-block"
        "nutrition-type-block"
        "information-text-block"
        "contact-us"
        "footer-info"
        "footer";
}
header{
    grid-area: header;
}
.info-block{
    grid-area: info-block;
}
.about-block{
    grid-area: about-block;
}
.category-block{
    grid-area: category-block;
}
.nutrition-type-block{
    grid-area: nutrition-type-block;
}
.information-text-block{
    grid-area: information-text-block;
}
.contact-us{
    grid-area: contact-us;
}
.footer-info{
    grid-area: footer-info;
}
footer{
    grid-area: footer;
}